body{
    text-align: center;
    background-image: url("https://cdn.pixabay.com/photo/2017/04/20/08/45/beach-2245049_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    padding: 25px;
    color: white;
}

#timeDisplay{
    height: 300px;   
    font-weight: bold;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    padding-top: 50px;
}

#sunrise{
    background-color: orange;  
    padding: 70px 0px;
}

#sunset{
    background-color: #307fff;  
    padding: 70px 0px;
}